* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
}

body {
    background-color: #00112B;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    animation: slideFromTop 0.8s ease-in-out;
}

ul li a:hover {
    color: #2538e7;
}

ul {
    display: flex;
}

ul li a {
    margin: 0 2.5vw;
}

ul li {
    margin: 40px 0;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 80px;
    cursor: pointer;
}

button {
    margin: 0 15px;
    cursor: pointer;
    width: 9vw;
    border-radius: 8px;
    background-color: #2538e7;
    padding: 13px 0;
    border: none;
    font-weight: 900;
    font-size: 1rem;
}

.sign {
    padding: 20px 50px;
    background-color: #000b1c70;
    border-radius: 50px;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    animation: expand 0.8s ease-in-out;
}

.sign h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    border-radius: 15px;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: #00112A;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 8px;
    margin: 5px 0;
}

.sbutton {
    margin: 20px 0;
}



@keyframes slideFromTop {
    0% {
        margin-top: -100px;
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}