* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
}

body {
    background-color: #00112B;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    animation: slideFromTop 0.5s ease-in-out;
}

ul {
    display: flex;
}

ul li a:hover{
    color: #2538e7;
}


ul li a {
    margin: 0 2.5vw;
}

ul li {
    margin: 40px 0;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 80px;
    cursor: pointer;
}

button {
    margin: 0 15px;
    cursor: pointer;
    width: 9vw;
    border-radius: 8px;
    background-color: #2538e7;
    padding: 13px 0;
    border: none;
    font-weight: 900;
    font-size: 1rem;
}

button:last-child {
    outline: 1px solid #2538e7;
    color: #2538e7;
    background-color: #00112B;
}

button:first-child:hover{
    color: #2538e7;
    background-color: #00112B;
    outline: 1px solid #2538e7;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.topSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topSection h1 {
    margin: 90px 0 30px 0;
    text-align: center;
    font-family: 'Kavoon';
    font-size: 4rem;
    letter-spacing: 3px;
    animation: headingHighlighter 2s ease-in-out infinite;
}

button:last-child:hover {
    background-color: #2538e7;
    color: black;
}

hr {
    margin: 40px;
}

.bottomSection {
    text-align: justify;
    font-weight: 400;
    line-height: 24.11px;
    width: 475px;
    margin: auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Arapey', serif;
    font-family: 'Montserrat', sans-serif;

}

.im img {
    display: flex;
    width: 100%;
    height: 500px;
}

.us {
    margin: 70px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.us img {
    width: 12%;
}

.us img:nth-child(2n){
    height: 20px;
}

.mentor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;
    align-items: center;
    margin: auto;
}

.mentor h1{
    margin: 30px 0;
}

.mentor img{
    width: 100%;
}


.footer {
    margin: 50px auto;
    width: 90%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.footer a{
    text-decoration: none;
    color: #2538e7;
    margin: 10px 0;
}

.footer div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leftFooter{
    width: 30%;
}

#headingLeftFooter{
    color: #2538e7;
}

.rightFooter h2{
    color: #2538e7;
}

@keyframes headingHighlighter {
    0%{
        filter: drop-shadow(8px 8px 20px blue);
    }
    33.33%{
        filter: drop-shadow(-8px -8px 20px blue);
    }
    100%{
        filter: drop-shadow(8px 8px 20px blue);
    }
}

@keyframes slideFromTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}