<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Voyage || Sign Up</title>
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/sign.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="items">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">My Profile</a></li>
                <li><a href="">Blogs</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="../assets/logo.png" alt="Logo">
        </div>
        <div class="buttons">
            <button id="login">login</button>
        </div>
    </nav>
    <div class="sign">
        <h1>Create Account</h1>
        <input id="user" type="text" placeholder="Enter your username"><br>
        <input id="mail" type="text" placeholder="Enter email address"><br>
        <input id="pass" type="password" placeholder="Create Password"><br>
        <input id="cpass" type="password" placeholder="Confirm Password"><br>
        <div class="sbutton">
            <button>Sign Up</button>
            <script src="../scripts/script.js"></script>
</body>

</html>